.body{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}

.body1 img{
    width: 320px;
    border-radius: 10px;
    display: block;
    padding: 20px;

}

.body1:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

h2{
    color: black;
    /* font-size: 20px; */
    font-weight: 600;
}

/* mediaa */
@media (max-width: 1246px){
    .body {
        flex-wrap: wrap;
        justify-content: center;
      }
     
       .body1 {
        width: 30%; 
        padding: 5px; 
        display: flex;
        justify-content: center; 
        align-items: center;
      }  
  
   
      .body1 img {
        width: 100%;
      } 
}

@media (max-width: 784px) {
    .body {
      flex-wrap: wrap;
      justify-content: center;
    }
   
     .body1 {
      width: 50%; 
      padding: 5px; 
      display: flex;
      justify-content: center; 
      align-items: center;
    }  

 
    .body1 img {
      width: 100%;
    } 
    
h2{
    color: black;
    font-size: 25px;
    font-weight: 600;
}

  }
  